@media screen and (min-width: 768px) and (max-width: 1279px) {
    /**
     * Style
     */
    .home__about {        
        margin-top: 30px;        
    }
    .home__about__content {        
        width: 592px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
    }
    .home__about__content__title::before {
        background: var(--color-secondary);
        border-radius: 2px;
        content: "";
        display: block;
        height: 4px;
        left: -39px;
        position: relative;
        width: 79px;
        margin: 0 auto;
    }
    .home__about__content__title {
        font-weight: var(--font-weight-regular);
        line-height: 64px;
        text-transform: uppercase;
    }
    .home__about__content__heading {
        font-weight: var(--font-weight-regular);
        margin-bottom: 33px;
        line-height: 64px;
    }
    .home__about__content__text {
        font-size: 20px;
        font-family: var(--font-secondary);
    }
    .home__about__bkg {
        margin-top: 52px;
        margin-left: 59px;
        height: 75vw;
        width: 100%;
        background: url('img/about-bkg-md.png') no-repeat;
        background-size: cover;
    }
}