@media screen and (min-width: 320px) and (max-width: 767px) {
    /**
* Style
*/
    .home__contact {
        background: url('img/contact-bkg.png') no-repeat;
        background-size: cover;
        color: var(--color-white);
        padding-bottom: 50px;
    }
    .home__contact__content {
        width: 320px;
        margin: 0 auto;
        padding-top: 146px;
    }
    .home__contact__content__title::before {
        background: var(--color-secondary);
        border-radius: 2px;
        content: "";
        display: block;
        height: 4px;
        width: 79px;
        position: relative;
        left: -39px;
    }
    .home__contact__content__title {
        text-transform: uppercase;
        font-weight: var(--font-weight-regular);
        line-height: 64px;
        transform: translateX(39px);
    }
    .home__contact__content__heading {
        font-weight: var(--font-weight-regular);
        margin-top: 30px;
    }
    .home__contact__content__text {
        font-family: var(--font-secondary);
    }
    .home__contact__content__form {
        margin-top: 60px;
    }
    .home__contact__content__form__group {
        margin-bottom: 19px;
    }
    .home__contact__content__form__group__input, .home__contact__content__form__group__textarea, .home__contact__content__form__submit {
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        display: block;
        height: 70px;
        outline: none;
        padding: 0 40px;
        width: 321px;
    }
    .home__contact__content__form__group__textarea {
        height: 100px;
        padding-top: 20px;
    }
    .home__contact__content__form__submit {
        background: var(--color-secondary);
        font-size: 16px;
        font-weight: var(--font-weight-bold);
    }
}