@media screen and (max-width: 767px) {
    /**
* Style
*/
    .home__download {
        margin: 95px 0 67px;
    }
    .home__download__bkg {
        background: url('img/download-bkg.png') no-repeat center;
        background-size: 90%;
        height: 90vw;
    }
    .home__download__content__body {
        max-width: 562px;
        display: flex;
        flex-direction: column;
    }
    .home__download__content {
        width: 80vw;
        margin: 20px auto 0;
    }
    .home__download__content__title {
        line-height: 38px;
    }
    .home__download__content__links {
        align-items: center;
        display: flex;
        margin-top: 18px;
    }
    .home__download__content__links__item {
        margin-right: 10px;
    }
}