@media screen and (max-width: 1279px) {
    .home__fab {
        box-sizing: border-box;
        background: var(--color-ternary);
        border-radius: 5px 0 0 5px;
        color: var(--color-white);
        padding: 9px 9px 12px 0px;
        position: fixed;
        right: 0;
        bottom: 0;        
    }
    /* Add this class to apply style */
    .home__fab--open {
        padding-top: 31px;
        padding-bottom: 64px;        
        width: 330px !important;
    }
    .home__fab--open > .home__fab__header {
        display: none;
    }
    .home__fab--open .home__fab__header {
        flex-direction: row;
    }
    .home__fab--open .home__fab__header__title, .home__fab__header__subtitle {
        font-size: 20px !important;
    }
    .home__fab--open .home__fab__content {
        display: block !important;
    }
    .home__fab--open .home__fab__header__close {
        position: absolute;
        top: 18px;
        right: 15px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .home__fab__content {
        display: none;
        margin: 0 auto;
        width: 281px;
    }
    .home__fab__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home__fab__header__right {
        display: inline-block;
        margin-left: 14px;
    }
    .home__fab__header__title {
        font-weight: var(--font-weight-bold);
        font-size: 20px;
    }
    .home__fab__header__subtitle {
        font-weight: var(--font-weight-regular);
    }
    .home__fab__content__form__group {
        height: 64px;
        border-radius: 9px;
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        padding: 8px 13px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .home__fab__content__form__group__label {
        font-weight: var(--font-weight-bold);
        color: var(--color-ternary);
    }
    .home__fab__content__form__group__input {
        border: none;
        outline: none;
    }
    .home__fab__content__form__submit {
        background: var(--color-secondary);
        border: none;
        border-radius: 9px;
        outline: none;
        height: 53px;
        font-weight: var(--font-weight-bold);
        width: 100%;
    }
}