@media screen and (min-width: 320px) and (max-width: 1279px) {
    /**
* Style
*/
    .home__footer {
        background: var(--color-dark-blue);
        color: var(--color-white);
        font-size: 20px;
        padding: 46px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home__footer__nav, .home__footer__info {
        border-bottom: 1px solid var(--color-primary);
    }
    .home__footer__nav, .home__footer__info, .home__footer__copyrights {
        width: 274px;
        margin: 0 auto;
        padding: 27px 0;
    }
    .home__footer__copyrights {
        width: 190px;
    }
}