.home__how__row {
    display: grid;
    grid-template-columns: var(--grid-gutter) 45% 45% var(--grid-gutter); 
}

.home__how__row:nth-child(odd) div:nth-child(odd) {
    grid-column: 1 / 3;
}

.home__how__row:nth-child(odd) div:nth-child(even) {
    grid-column: 3;
}

.home__how__row:nth-child(even) div:nth-child(odd) {
    grid-column: 2;
}

.home__how__row:nth-child(even) div:nth-child(even) {
    grid-column: 3 / 5;
}