@media screen and (max-width: 767px) {
    /**
    * Style
    */
    .home__lead::before {
        content: "";
        display: block;
        background: url('img/lead-bkg-sm-mockup.png') no-repeat center;
        background-size: cover;
        width: 404px;
        height: 414px;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
    }
    .home__lead {
        background: url('img/lead-bkg.png') no-repeat center -55px;
        background-size: cover;
        color: var(--color-white);        
        height: 658px;
    }
    .home__lead__header {
        border-bottom: 2px solid var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px var(--grid-gutter);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        width: 100vw;
        background: var(--color-primary)
    }
    .home__lead__nav__toggler {
        background: url('img/menu.png') no-repeat;
        padding: 10px 15px;
        border: none;
        outline: none;
    }
    /* Add this class to make navbar sticky */
    .home__lead__header--sticky {
        position: fixed;
        width: 100%;
        top: 0;
        background:var(--color-white);
        z-index: 99998;
        box-shadow: 0 10px 32px rgba(0, 0, 0, 0.16);        
    }    
    .home__lead__header--sticky .home__lead__nav__toggler {
        background: url('img/menu-black.png') no-repeat;
    }
    .home__lead__mobile__menu {
        display: none;
    }
    /* Add this class to open menu */
    .home__lead__mobile__menu--open {
        display: block !important;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: var(--color-dark-blue);        
        z-index: 99999;
        padding: 36px 16px 57px;
        box-sizing: border-box;
    }
    .home__lead__mobile__menu__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 94px;
    }
    .home__lead__mobile__menu__header__close {
        background: transparent;
        border: none;
        outline: none;
    }
    .home__lead__mobile__menu__content__nav {
        padding: 0;
        font-size: 20px;
    }
    .home__lead__mobile__menu__content__nav li {
        margin-bottom: 34px;
    }
    .home__lead__mobile__menu__content__nav li.active a {
        font-weight: var(--font-weight-bold);
    }
    .home__lead__mobile__menu__content__nav li.active::before {
        content: "";
        width: 49px;
        height: 2px;
        background: var(--color-secondary);
        display: block;
        position: relative;
        top: 14px;
    }
    .home__lead__mobile__menu__content__nav li a {
        margin-left: 76px;
    }
    .home__lead__mobile__menu__footer {
        border-top: 1px solid rgba(255, 255, 255, .34);
        padding-top: 36px;
        color: rgba(255, 255, 255, .44);
        text-align: center;
    }
    .home__lead__content {
        margin: 80px auto 0;
        padding-top: 6vw;
        max-width: 80vw;
    }
    .home__lead__content__title:nth-child(1) {
        line-height: 38px;
        text-transform: none;
    }
    .home__lead__content__text {
        margin-bottom: 20px;
    }
    .home__lead__content__title {
        margin-bottom: 13px;
        text-transform: uppercase;
    }
    .home__lead__content__title span {
        display: inline-block;
        background: var(--color-dark-blue);
        border-radius: 35px;
        height: 45px;
        text-align: center;
        width: 79px;
    }
    .home__lead__content__subscribe {
        display: flex;
        width: 626px;
    }
    .home__lead__content__subscribe__group {
        background: var(--color-white);
        border-radius: 9px;
        padding: 8px 13px;
        display: flex;
        flex-direction: column;
        width: 261px;
        margin-right: 10px;
    }
    .home__lead__content__subscribe__group:nth-child(2) {
        justify-content: center;
        width: 221px;
        margin-right: 14px;
    }
    .home__lead__content__subscribe__group__label {
        color: var(--color-dark-blue);
        font-weight: var(--font-weight-bold);
        margin-bottom: 3px;
    }
    .home__lead__content__subscribe__group__input {
        border: none;
        outline: none;
    }
    .home__lead__content__subscribe__submit {
        background: var(--color-secondary);
        border-radius: 37px;
        width: 100px;
        border: none;
        outline: none;
    }    
}