@font-face {
    font-family: 'Poppins';
    src:
        local('Poppins')
        url('font/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src:
        local('Poppins')
        url('font/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Helvetica';
    src:
        local('Helvetica')
        url('font/Helvetica.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}