/* @import url('../../node_modules/normalize.css/normalize.css'); */
body {        
    color: var(--color-black);
    font-family: var(--font-primary, 'Poppins');
    font-size: 14px;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 86px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 20px;
}

p {
    line-height: 1.6;
}